.info-block-elem span {
  display: block;
  padding-bottom: 5px;
}

.custom-tile-bar {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4) !important;
}
.display-flex {
  padding-right: 6px;
  display: flex;
}

.white-color {
  color: white;
}
.MuiIconButton-root {
  padding: 6px 0px 6px 6px !important;
}
