.register-user-content {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    min-height: 405px;
    padding: 25px 30px;
    color: #666666;
}

.register-user-title {
    padding-bottom: 10px;
}

.register-user-content h6 {
    font-weight: 600;
    font-size: 17px;
}
.register-user-container {
    padding-top: 30px;
    padding-bottom: 60px;
}

.register-button {
    background: linear-gradient(0deg, #f0c049 0%, #fbdd99 100%) !important;
    border: 1px solid #be952c !important;
    padding: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 0 3px 3px 0;
    width: 180px;
    color: #222222;
}

.login-user-container {
    padding-top: 72px;
    padding-bottom: 60px;
}

.login-user-content {
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    min-height: 405px;
    padding: 25px 30px;
    color: #666666;
}

.login-user-content h6 {
    font-weight: 600;
    font-size: 17px;
}

.login-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-padding {
    padding-bottom: 15px;
}
.red {
    color: red;
    font-size: 13px;
}

.login-button-container {
    padding-bottom: 20px;
}


.login-button {
    background: linear-gradient(0deg, #f0c049 0%, #fbdd99 100%) !important;
    border: 1px solid #be952c !important;
    padding: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 0 3px 3px 0;
    width: 110px;
    color: #222222;
}
input {
    border: 1px solid #e6e6e6;
    padding: 8px 20px;
    font-size: 13px;
    border-radius: 3px;
    width: 100%;
}

.forgot-pass {
    color: red !important;
    float: right;
    font-size: 13px;
    padding-top: 15px;
}