.register-user-content {
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    min-height: 405px;
    padding: 25px 30px;
}

.register-user-content h6 {
    font-weight: 600;
}
.register-user-container {
    padding-top: 30px;
}

.register-button {
    background: linear-gradient(0deg, #f0c049 0%, #fbdd99 100%) !important;
    border: 1px solid #be952c !important;
    padding: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 0 3px 3px 0;
    width: 180px;
    color: #222222;
}