.admin-container {
  div,
  nav,
  section,
  main,
  header,
  footer {
    box-sizing: border-box;
  }

  *:focus {
    outline: 0;
  }

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'nav header'
    'nav main'
    'footer footer';

  .nav-contanier {
    min-height: 90.1vh;
    grid-area: nav;
    max-width: 250px;
    overflow: hidden;
    transition: max-width 0.5s;
    background-color: rgba(68, 81, 103, 0.3);

    &.open {
      max-width: 0px;
    }

    .link-menu {
      margin: 10px;
      font-size: 14px !important;
    }

    & > div {
      padding: 30px 30px 30px 5px;
    }
  }

  .header-contanier {
    grid-area: header;
  }

  .main-container {
    grid-area: main;
    padding-top: 30px;

    .float-icon {
      position: fixed;
      right: 40px;
      bottom: 110px;
    }
  }

  .footer-container {
    grid-area: footer;
  }
}

.app-admin-bar {
  background-color: #445268 !important;
  height: 90px;
}

.MuiButton-label {
  justify-content: left !important;
}

.padding-right-icon {
  padding-right: 5px;
}

.modal-container {
  margin: 0 auto;
  width: 600px;

  .modal-header {
    text-align: center;
  }
}
.fill-white {
  fill: white !important;
  padding-right: 5px;
}

.color-white {
  color: white !important;
}

.logout {
  font-size: 15px;
}

.footer-div {
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: #445268;
  padding: 35px;
}
