.margin-button {
  left: 35px;
  top: 5px;
}

.padding-top-card-content {
  margin-top: 30px !important;
}

.create-user-modal-container {
  height: 450px;
}

.padding-bottom-row {
  padding-bottom: 25px;
}