.row-padding-top {
    padding-top: 35px;
}

.col-padding {
    padding-top: 40px;
    padding-left: 50px;
}

.reviews-info {
    line-height: 0px;
    color: #888;
    font-size: 14px;
}

.reviews-info span {
    position: relative;
    top: -1px;
    left: 15px;
}

.reviews-info span:nth-child(3) {
    position: relative;
    left: 25px;
}

.reviews-info span:nth-child(4) {
    position: relative;
    left: 35px;
}
