.reviews-container {
  padding: 30px;
  color: #666666;
  font-size: 14px;
}
div.col-sm-4 {
  padding: 0;
}

.block-title {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.block-title strong {
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.5rem;
}

.review-content {
  padding-top: 35px;
  //text-align: justify;
  border-bottom: 1px solid #dfdfdf;
}
.rating-container {
  padding-top: 10px;
  font-size: 20px;
}

.review-details {
  padding-top: 15px;
}

.product-title {
  font-size: 16px;
  color: #2557aa;
  font-weight: 600;
}

/**************************/

.user-review-intro {
  padding-top: 25px;
}

.user-review-intro span {
  text-transform: uppercase;
}
.user-review-rating span span:nth-child(1) {
    color: red;
}

.user-review-content >label >span {
    color: red;
}

.review-button-container {
    padding-top: 10px;
}

.review-button {
    background: linear-gradient(0deg, #f0c049 0%, #fbdd99 100%) !important;
    border: 1px solid #be952c !important;
    padding: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 0 3px 3px 0;
    width: 140%;
    color: #222222;
  }
